<section class="container text-center center-block">
  <h1>Click and wait for loading</h1>
  <button id="flickr-btn">Show Awesome Image</button>


  <a href="" target="_blank">
    <div>
      <img src="">
      <p id="title"></p>
    </div>
  <a>

</section>

