<section class="container text-center center-block">
  <h1>Home Page</h1>
  <button>Show Awesome Image</button>


  <a href="">
    <div>
      <img src="">
      <p id="title"></p>
    </div>
  <a>

</section>

