<section class="container text-center center-block">
  <h1>Weather APP</h1>



  <select>
    <option value="CA/San_Francisco" data-state="CA" data-city="San_Francisco">CA/San_Francisco</option>
    <option value="saab" data-state="NY" data-city="Newyork">NY/Newyork</option>
  </select>

  <button id="forecast-btn">FORECAST</button>

  <div>
    <input id="search-input" type="text" name="" placeholder="city, state">
    <button id="search-city-btn">Search</button>
  </div>

  <article class="show-forecast">
    
  </article>

</section>

